language: android
jdk: oraclejdk8

android:
  components:
    - build-tools
    - extra-android-m2repository
    - extra-google-m2repository

script:
    - echo "Travis branch is $TRAVIS_BRANCH"
    - echo "Travis branch is in pull request $TRAVIS_PULL+REQUEST"
    - ./gradlew connectedAndroidTest

    before_cache:
     -rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
     -rm -fr $HOME/.gradle/caches/*/plugin-resolution/
    cache:
     directories:
     -$HOME/.gradle/caches/
     -$HOME/.gradle/wrapper/
    
    script: ./gradlew connectedAndroidTest

    group: edge
