language: android
jdk:
    - oraclejdk8

git:
   submodules: false



android:
  components:
    - tools
    - platform-tools
    - tools
    #build tools
    - build-tools-25.0.3
    #SDK Version
    - android-25
    #Additional Components
    - extra-android-m2repository
    - extra-google-m2repository

before_install:
  - android list sdk --no-ui --all --extended
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init --recursive


script:
  - echo "Travis branch is $TRAVIS_BRANCH"
  - echo "Travis branch is in pull request $TRAVIS_PULL+REQUEST"
  - ./gradlew build connectedCheck

before_cache:
  -rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
  -rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    -$HOME/.gradle/caches/
    -$HOME/.gradle/wrapper/