language: android
jdk:
    - oraclejdk8

git:
   submodules: false



android:
  components:
    - tools
    - platform-tools
    - tools
    #build tools
    - build-tools-25.0.3
    #SDK Version
    - android-25
    #Additional Components
    - extra-android-m2repository
    - extra-google-m2repository

before_install:
  - android list sdk --no-ui --all --extended
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init
  - chmod +x gradlew


branch:
  only:
    - development

script:
  - echo "Travis branch is $TRAVIS_BRANCH"
  - echo "Travis branch is in pull request $TRAVIS_PULL+REQUEST"
  - ./gradlew build connectedCheck